@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Thông tin thanh toán</h1>
    <div>Đăng nhập ngay để nhận được "điểm thưởng" hấp dẫn khi mua hàng thành công các sản phẩm tại ShopDunk</div>
    <div>Đăng nhập ngay</div>
    <input type="text" placeholder="Tên" />
    <input type="text" placeholder="Số điện thoại" />
    <input type="text" placeholder="Email" />
    <div>
        <h2>Hình thức nhận hàng</h2>
        <input type="radio" />Nhận tại cửa hàng
        <input type="radio" />Giao tận nơi
    </div>
    <div>Tỉnh, thành phố:</div>
    <select>
        <option>Hà Nội</option>
        <option>Thành phố Hồ Chí Minh</option>
        <option>Đà Nẵng</option>
        <option>Hải Phòng</option>
        <option>Cần Thơ</option>
        <option>An Giang</option>
        <option>Bà Rịa - Vũng Tàu</option>
        <option>Bạc Liêu</option>
        <option>Bắc Giang</option>
        <option>Bắc Kạn</option>
        <option>Bắc Ninh</option>
        <option>Bến Tre</option>
        <option>Bình Dương</option>
        <option>Bình Định</option>
        <option>Bình Phước</option>
        <option>Bình Thuận</option>
        <option>Cà Mau</option>
        <option>Cao Bằng</option>
        <option>Đắk Lắk</option>
        <option>Đắk Nông</option>
        <option>Điện Biên</option>
        <option>Đồng Nai</option>
        <option>Đồng Tháp</option>
        <option>Gia Lai</option>
        <option>Hà Giang</option>
        <option>Hà Nam</option>
        <option>Hà Tĩnh</option>
        <option>Hải Dương</option>
        <option>Hậu Giang</option>
        <option>Hoà Bình</option>
        <option>Hưng Yên</option>
        <option>Kiên Giang</option>
        <option>Kon Tum</option>
        <option>Khánh Hoà</option>
        <option>Lai Châu</option>
        <option>Lạng Sơn</option>
        <option>Lào Cai</option>
        <option>Lâm Đồng</option>
        <option>Long An</option>
        <option>Nam Định</option>
        <option>Ninh Bình</option>
        <option>Ninh Thuận</option>
        <option>Nghệ An</option>
        <option>Phú Thọ</option>
        <option>Phú Yên</option>
        <option>Quảng Bình</option>
        <option>Quảng Nam</option>
        <option>Quảng Ninh</option>
        <option>Quảng Bình</option>
        <option>Quảng Ngãi</option>
        <option>Quảng Trị</option>
        <option>Sóc Trăng</option>
        <option>Sơn La</option>
        <option>Tây Ninh</option>
        <option>Tiền Giang</option>
        <option>Tuyên Quang</option>
        <option>Thái Bình</option>
        <option>Thái Nguyên</option>
        <option>Thanh Hoá</option>
        <option>Thừa Thiên Huế</option>
        <option>Trà Vinh</option>
        <option>Vĩnh Long</option>
        <option>Vĩnh Phúc</option>
        <option>Yên Bái</option>
    </select>
    <div>
        Quận, huyện:
    </div>
    <input type="text" placeholder="Mời bạn chọn quận/huyện"/>   
    <input type="text"placeholder="Mời bạn chọn địa chỉ cửa hàng" />
    <input type="radio" />Xuất hoá đơn công ty
</body>
</html>
